
@import "../bower/navbar-variant/navbar-variant.less";
@import "../bower/CuteForm/cuteform.css";
@import "../css/flaticon.css";
@import "simple-sidebar.less";
@import "mixins/a.less";
@import "mixins/buttons.less";
@import "mixins/panel.less";
@import url(https://fonts.googleapis.com/css?family=Roboto);

@mainColor: #59a717;
@darkColor: #283618;
@secondaryColor: #f5f07b;

@CColor: #aad36d;
@RColor: #54ddc7;
@SRColor: #0088dd;
@URColor: #ee43ee;

@crazyColor: #b030f0;
@coolColor: #4080ff;
@hotColor: #ff0303;
@deepColor: #f249b7;
@funColor: #fcca00;
@classicColor: #26c406;

@GoldColor: #c98910;
@SilverColor: #a8a8a8;
@BronzeColor: #965a38;

@font-face {
    font-family: "Champagne & Limousines";
    src: url("../fonts/Champagne & Limousines.ttf");
}
@font-face {
    font-family: "Champagne & Limousines";
    src: url("../fonts/Champagne & Limousines Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Champagne & Limousines";
    src: url("../fomts/Champagne & Limousines Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "NeutrafaceDisplay";
    src: url("../fonts/NeutrafaceDisplay-Titling.ttf");
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    margin-left: 0;
    font-size: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    &.index {
	background: @mainColor;
    }
}

.profile-account {
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0;
	border-right: 1px solid #ddd;
	&:last-child {
	    border-right: 0;
	}
    }
}

.table-color(@color, @inverse) {
    td {
	background-color: @color;
	color: @inverse;
	.a-variant(@inverse);
    }
}
.table-main { .table-color(@mainColor, #fff); }
.table-dark { .table-color(@darkColor, #fff); }

.table-padded>tbody>tr>td, .table-padded>tbody>tr>th, .table-padded>tfoot>tr>td, .table-padded>tfoot>tr>th, .table-padded>thead>tr>td, .table-padded>thead>tr>th {
    padding: 20px;
}
.table-rounded>tbody>tr, .table-rounded>tfoot>tr, .table-rounded>tfoot>tr, .table-rounded>thead>tr, .table-rounded>thead>tr {
    &:first-child {
	td {
	    border-top: 0;
	}
	td:first-child {
	    border-top-left-radius: 10px;
	}
	td:last-child {
	    border-top-right-radius: 10px;
	}
    }
    &:last-child {
	td:first-child {
	    border-bottom-left-radius: 10px;
	}
	td:last-child {
	    border-bottom-right-radius: 10px;
	}
    }
}

table.text-center th {
    text-align: center;
}

img.cuteform-elt {
    width: 30px;
}
.cuteform-elt {
    border-radius: 50%;
    cursor: pointer;
}

.cuteform br {
    display: none;
}

#id_skill + .cuteform {
    img.cuteform-elt {
	width: 25px;
    }
}

[data-cuteform-val=card], [data-cuteform-val=SR] {
    border-radius: 2px;
}

a {
    color: @mainColor;
    &:hover, &:focus {
	color: darken(@mainColor, 15%);
    }
}

h1, h2, h3, h4, h5, h6, .title, .navbar, .btn {
    font-family: "NeutrafaceDisplay", monospace;
}

.text-main { color: @mainColor; }
.text-secondary { color: @secondaryColor; }
.text-dark { color: @darkColor; }
.text-white { color: white; }
.text-crazy { color: @crazyColor; }
.text-cool { color: @coolColor; }
.text-hot { color: @hotColor; }
.text-deep { color: @deepColor; }
.text-fun { color: @funColor; }
.text-classic { color: @classicColor; }

.btn-main { .button-variant(white, @mainColor, darken(@mainColor, 5%)); }
.btn-secondary { .button-variant(@mainColor, darken(@secondaryColor, 20%), darken(@secondaryColor, 5%)); }
.btn-white { .button-variant(@mainColor, white, darken(@mainColor, 10%)); }
.btn-main-light { .button-variant(white, lighten(@mainColor, 25%), darken(lighten(@mainColor, 25%), 5%)); }
.btn-secondary-light { .button-variant(white, lighten(@secondaryColor, 25%), darken(lighten(@secondaryColor, 25%), 5%)); }
.btn-main-dark { .button-variant(white, darken(@mainColor, 15%), darken(@mainColor, 25%)); }
.btn-link { color: @mainColor; &:hover, &:focus { color: darken(@mainColor, 5%); } }
.btn-C { .button-variant(white, @CColor, darken(@CColor, 5%)); }
.btn-R { .button-variant(white, @RColor, darken(@RColor, 5%)); }
.btn-SR { .button-variant(white, @SRColor, darken(@SRColor, 5%)); }
.btn-UR { .button-variant(white, @URColor, darken(@URColor, 5%)); }

.btn-xl {
    padding: 20px 32px;
    font-size: 30px;
    line-height: 1.5;
    border-radius: 20px;
    margin: 0 10px;
}

.padding20 { padding: 20px; }
.padding30 { padding: 30px; }
.padding50 { padding: 50px; }
.padding-novertical { padding-top: 0; padding-bottom: 0; }
.margin-novertical { margin-top: 0; margin-bottom: 0; }
.padding-nohorizontal { padding-left: 0; padding-right: 0; }
.margin-nohorizontal { margin-left: 0; margin-right: 0; }

.jumbotron p {
    font-size: inherit;
}

#profile.jumbotron {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.a-nodifference {
    color: inherit;
    &:hover,
    &:focus {
	color: inherit;
	text-decoration: none;
    }
}

.fontx2 { font-size: 2em; }
.fontx3 { font-size: 3em; }
.fontx4 { font-size: 4em; }

@media screen and (min-width: 768px) {
    .carousel-caption {
	right: 10%;
	left: 30%;
    }
}

.profile-account {
    .carousel {
	.carousel-caption {
	    top: 20px;
	    bottom: auto;
	}
	.carousel-indicators {
	    bottom: 0;
	}
	.item {
	    background-color: @secondaryColor;
	    border-radius: 20px;
	    h1 {
		margin-top: 0;
	    }
	}
	.carousel-control.left {
	    border-top-left-radius: 20px;
	    border-bottom-left-radius: 20px;
	}
	.carousel-control.right {
	    border-top-right-radius: 20px;
	    border-bottom-right-radius: 20px;
	}
	img.performer {
	border-radius: 50%;
	}
    }
}

.ownedcard-parent {
    display: inline-block;
    @size: 100px;
    width: @size;
    height: @size;
    .ownedcard {
	cursor: pointer;
	width: @size;
	height: @size;
	background-size: @size + (@size / 4);
	background-position: center center;
	border-radius: 50%;
	border: 3px white solid;
	margin: 5px;
    }
    .info {
	margin-top: @size / 4 * -1;
	img {
	    display: inline-block;
	    margin: 0 -5px;
	    height: @size / 4;
	}
    }
}

.row.donation {
    font-size: 1.1em;
    text-align: center;
    img {
	margin: auto;
	margin-bottom: 10px;
    }
    .status {
	font-size: 100px;
    }
    .multiply {
	display: block;
	font-size: 2.8em;
	font-weight: bold;
	margin-top: -40px;
	text-align: right;
    }
}

#wiki-content {
    a:not(.internal-wiki-link) {
	&:after {
	    font-family: Flaticon;
	    content: "  \e017";
	    font-size: 0.8em;
	}
    }
    table {
	width: 100%;
	tr {
	    border-top: 1px solid #ccc;
	    td, th {
		padding: 20px;
		border: 1px solid #ddd;
	    }
	}
	tr:nth-child(2n) {
	    background-color: #f8f8f8;
	}
	th {
	    font-size: 1.2em;
	    font-family: "NeutrafaceDisplay", monospace;
	    background-color: #ddd;
	}
    }
    p {
	padding: 10px 0;
    }
    img {
	max-width: 100%;
    }
}

.table-buttons {
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    td {
	.custom-btn(@darkColor);
	a { .a-nodifference(); }
    }
    tr {
	border: 0;
    }
    td {
	padding: 0;
	&>a {
	    display: block;
	    padding: 20px;
	}
	img.performer {
	    height: 44px;
	    margin: -10px 0;
	    border-radius: 50%;
	}
    }
    &:last-child {
	td:first-child {
	    border-bottom-left-radius: 6px;
	}
	td:last-child {
	    border-bottom-right-radius: 6px;
	}
    }
}

.container_form {
    width: 100%;
}

.navbar + main {
    margin-top: 53px;
    margin-bottom: 50px;
}

#disqus_thread {
    min-height: 327px;
}

.glee {
    font-family: 'Champagne & Limousines', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: @secondaryColor;
    text-shadow: 3px 0 0 @darkColor, -3px 0 0 @darkColor, 0 3px 0 @darkColor, 0 -3px 0 @darkColor, 1px 1px @darkColor, -1px -1px 0 @darkColor, 1px -1px 0 @darkColor, -1px 1px 0 @darkColor;
}

.navbar-glee {
    .navbar-variant(@mainColor, white);
}

.current-index .navbar-glee {
    .navbar-variant(darken(@mainColor, 15%), white);
}

.characters-back, .characters-front {
    z-index: 100;
}

.characters-back {
    width: 1294px;
    height: 332px;
    position: fixed;
    left: 50%;
    margin-left: -646px;
    bottom: 0;
}

.characters-front {
    width: 1055px;
    height: 311px;
    position: fixed;
    left: 50%;
    margin-left: -567px;
    bottom: 0;
}

.background {
}

.logo {
    font-size: 8em;
    span {
	display: inline-block;
	margin: -20px;
    }
    .title.fr {
	padding-top: -100px;
    }
    .glee {
	font-size: 1.5em;
    }
}

.slogan {
    font-family: 'Champagne & Limousines', sans-serif;
    margin-top: 80px;
    font-size: 3em;
    width: 80%;
}

.current-index {
    background: @mainColor url('/static/img/background.png') no-repeat top center fixed;
    .content {
	padding-bottom: 340px;
	#activities-wrapper {
	    padding: 10px;
	    background: @secondaryColor;
	    border-radius: 10px;
	    text-align: left;
	}
    }
}

.activity {
    .likers {
	ul {
	    padding: 0;
	    list-style-type: none;
	    margin-bottom: 0;
	}
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
	.form-horizontal .control-label {
	    text-align: left;
	}
    }
}

.users {
    .userrow .row {
	border-radius: 10px;
	&:hover {
	    background-color: @secondaryColor;
	}
    }
    .avatar {
	margin: 10px 0;
    }
    .rank {
	height: 100px;
	padding: 10px;
	font-size: 4em;
	text-align: center;
	letter-spacing: -3px;
	font-family: "NeutrafaceDisplay", monospace;
	font-weight: normal;
	.flaticon-star {
	    color: @mainColor;
	}
	.rank_position {
	    margin: auto;
	    display: block;
	    min-width: 60px;
	    font-size: 0.4em;
	    margin-top: -65px;
	    color: white;
	}
    }
    .userrow:first-child {
	.flaticon-star {
	    color: @GoldColor;
	}
    }
    .userrow:nth-child(2) {
	.flaticon-star {
	    color: #A8A8A8;
	}
    }
    .userrow:nth-child(3) {
	.flaticon-star {
	    color: #965A38;
	}
    }
}

.pagination>li>a, .pagination>li>span {
    color: @mainColor;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: @mainColor;
    border-color: @mainColor;
}

#sidebar-wrapper {
    form {
	padding: 0 20px;
	.form-group {
	    margin: 5px 0;
	}
    }
}
#page-content-wrapper {
    padding: 15px;
}

.card, .card .type, .card .rarity, .single-card {
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.59);
    border: 5px white solid;
    border-radius: 10px;
}
a.card {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
a.card:hover, a.card:focus {
    text-decoration: none;
    opacity: 0.8;
    color: inherit;
}

.card {
    display: block;
    margin: 30px 10px;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    font-family: "NeutrafaceDisplay", monospace;
    text-align: center;
    color: inherit;
    .type {
	padding: 5px;
	width: auto;
	margin: 0 20px;
	margin-top: -30px;
	margin-left: 50px;
	font-size: 1.8em;
	color: white;
	img {
	    display: inline-block;
	    width: 72px;
	    height: 72px;
	    margin: -25px 0;
	    margin-left: -50px;
	}
	.stage_number {
	    margin: -20px;
	    height: 40px;
	    font-size: 0.6em;
	    text-align: right;
	    span {
		display: inline-block;
		text-align: center;
		padding: 5px;
		background-color: @secondaryColor;
		width: 30px;
		height: 30px;
		color: @mainColor;
		border-radius: 50%;
	    }
	}
    }
    .title {
	padding: 10px;
	font-size: 1.5em;
	img {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.59);
	    -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.59);
	    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.59);
	}
    }
    .image {
	img {
	    max-width: 80%;
	    border: 5px white solid;
	}
    }
    .subtitle {
	padding: 20px;
	margin-bottom: 10px;
	small {
	    opacity: 0.2;
	}
    }
    .rarity {
	display: inline-block;
	padding: 5px 40px;
	color: white;
	margin-bottom: -50px;
    }
    .rarityColor(@color) {
	background-color: @color;
	.type, .rarity {
	    background-color: darken(@color, 25%);
	}
	.title, .subtitle {
	    background-color: lighten(@color, 15%);
	}
    }
    .rarityColor(@CColor);
    &.C { .rarityColor(@CColor); }
    &.R { .rarityColor(@RColor); }
    &.SR { .rarityColor(@SRColor); }
    &.UR { .rarityColor(@URColor); }
}

.card-wrapper {
    .addcard {
	padding: 20px 0;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
    }
    &:hover {
	.addcard {
	    opacity: 1;
	}
    }
}

.single-card {
    text-align: center;
    font-family: "NeutrafaceDisplay", monospace;
    a {
	color: inherit;
    }
    .stages {
	border-radius: 50%;
	border-top: 20px white solid;
	display: inline-block;
	padding: 10px;
	margin: -30px 0;
	a {
	    opacity: 0.6;
	    &:hover, &:focus, &.selected {
		opacity: 1;
	    }
	    img {
		width: 30px;
	    }
	}
    }
    .photo-area {
	background: white;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
	.rarity {
	    display: block;
	    &:hover, &:focus {
		text-decoration: none;
		opacity: 0.8;
	    }
	    height: 50px;
	    font-size: 2em;
	    color: white;
	    margin-bottom: 10px;
	    padding: 5px;
	    img {
		display: inline-block;
		width: 80px;
		height: 80px;
		float: left;
		margin: -20px;
		margin-right: -100px;
	    }
	}
	.image {
	    img {
		max-width: 100%;
	    }
	}
	.attributes {
	    padding-top: 10px;
	    .attribute {
		display: inline-block;
		border: 3px #ccc solid;
		border-radius: 10px;
		margin: 0 5px;
		&:hover, &:focus {
		    text-decoration: none;
		    opacity: 0.8;
		    color: #ccc;
		}
		padding: 2px 10px;
		img {
		    width: 40px;
		    height: 40px;
		    margin: -10px;
		    margin-left: -20px;
		    margin-right: 0;
		}
	    }
	}
    }
    .type {
	margin-top: 25px;
	color: white;
	font-size: 1.8em;
	border-top-left-radius: 10px;
	padding: 5px;
	img {
	    float: left;
	    width: 70px;
	    height: 70px;
	    margin: -15px;
	    margin-right: -90px;
	}
	.stage_number {
	    display: inline-block;
	    padding: 0 20px;
	    opacity: 0.5;
	}
    }
    .name {
	margin-bottom: 20px;
	font-size: 2em;
	border-bottom-left-radius: 10px;
	padding: 10px;
    }
    .performance {
	background: white;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	.level {
	    background-color: #ccc;
	    margin: 10px;
	    border-radius: 10px;
	    padding: 10px;
	    color: white;
	    .value {
		color: @darkColor;
	    }
	}
	.title {
	    color: #ccc;
	    padding-top: 10px;
	}
    }
    .skill {
	margin-top: 20px;
	.title {
	    display: block;
	    background: black;
	    color: white;
	    border-top-left-radius: 10px;
	    padding: 10px;
	    height: 40px;
	    &:hover, &:focus {
		opacity: 0.8;
		text-decoration: none;
	    }
	    .skill-title {
		opacity: 0.5;
	    }
	    img {
		float: left;
		height: 60px;
		width: 60px;
		margin: -20px;
		margin-right: -90px;
	    }
	}
	.details {
	    background: white;
	    padding: 10px;
	    .sentence {
		padding: 10px;
	    }
	    .chance {
		background-color: #ccc;
		border-radius: 10px;
		padding: 10px;
		.chance-title {
		    color: white;
		}
	    }
	}
	.trigger {
	    background: #ccc;
	    border-bottom-left-radius: 10px;
	    padding: 10px;
	    margin-bottom: 30px;
	    .trigger-title {
		opacity: 0.5;
	    }
	}
    }
    .noskill {
	margin: 20px 0;
	padding: 50px;
	background-color: #eee;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #ccc;
	font-size: 1.5em;
    }
    .rarityColor(@color) {
	background-color: @color;
	.stages {
	    background-color: @color;
	}
	.rarity, .type {
	    background-color: darken(@color, 25%);
	}
	.name {
	    background-color: lighten(@color, 15%);
	}
    }
    .rarityColor(@CColor);
    &.C { .rarityColor(@CColor); }
    &.R { .rarityColor(@RColor); }
    &.SR { .rarityColor(@SRColor); }
    &.UR { .rarityColor(@URColor); }
}


nav {
    .avatar_wrapper {
	display: inline-block;
	margin: -4px 0;
	width: 22px;
	height: 22px;
	border-radius: 5px;
	background: #fff;
	&:after {
	    bottom: auto;
	    right: auto;
	    margin-left: 18px;
	    margin-top: -12px;
	}
	.avatar {
	    width: 22px;
	    height: 22px;
	    border-radius: 5px;
	}
    }
    .account {
	img {
	    width: 20px;
	    height : 20px;

	}
    }
}

#profile {
    background-color: @CColor;
    h1.glee {
	color: @secondaryColor;
	letter-spacing: 4px;
    }
    .avatar {
	border: 3px solid @darkColor;
    }
}

.avatar {
    border-radius: 10%;
}

.panel-main { .custom-panel(darken(@CColor, 25%)); }

@media(min-width:768px) {
    .container_form {
	width: 50%;
	margin: auto;
    }
}
