{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>fr.gl - {% block title %}{% trans 'The Glee Forever Database & Community' %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.min.css">
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="/static/less/style.less" />
    <script src="/static/bower/less/dist/less.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="/static/css/style.css?2">
    {% endif %}

    <meta property="og:image" content="{% block shareimage %}http://fr.gl/static/screenshot.png{% endblock %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{% trans 'The Glee Forever Database & Community! Database of cards and community' %}">
    <meta name="keywords" content="Glee, Glee Forever, Android game, iPhone game, rhythm game, cards, card, tracker">
    <meta name="twitter:card" value="{% trans 'The Glee Forever Database & Community! Database of cards and community' %}">
    <meta name="twitter:image" content="{% block shareimagetwitter %}http://fr.gl/static/screenshot.png{% endblock %}">
    <meta name="twitter:creator" content="@db0company">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
  </head>
  <body class="current-{{ current }}">
    {% if not hidenavbar %}
    <nav class="navbar navbar-glee navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">
	    <span class="glee">glee</span> forever</a>
	</div>
	<div class="collapse navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="{% if current == 'cards' %}active{% endif %}"><a href="/cards/"><i class="flaticon-album"></i><span class="hidden-sm"> &nbsp; {% trans 'Cards' %}</span></a></li>
	    {# <li class="{% if current == 'performers' %}active{% endif %}"><a href="/performers/"><i class="flaticon-idolized"></i><span class="hidden-sm"> &nbsp; {% trans 'Performers' %}</span></a></li>  #}
	    {# <li class="{% if current == 'events' %}active{% endif %}"><a href="/events/"><i class="flaticon-event"></i><span class="hidden-sm"> &nbsp; {% trans 'Events' %}</span></a></li> #}
	    <li class="{% if current == 'wiki' %}active{% endif %}"><a href="/wiki/"><i class="flaticon-about"></i><span class="hidden-sm"> &nbsp; {% trans 'Wiki' %}</span></a></li>
	    <li class="{% if current == 'users' %}active{% endif %}"><a href="/users/"><i class="flaticon-users"></i><span class="hidden-sm"> &nbsp; {% trans 'Gleeks' %}</span></a></li>
	    {% if user.is_authenticated %}
	    <li class="dropdown">	 
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="you"> 
		{% include 'include/avatar.html' with av_user=user av_size=10 av_image_size=22 %} 
		&nbsp; 
		{{ user.username }} 
	      </a> 
	      <ul class="dropdown-menu" role="menu"> 
		<li class="{% if current == 'profile' and profile_user.username == user.username %}active{% endif %}"><a href="/user/{{ user.username }}/"><i class="flaticon-profile"></i> {% trans 'Profile' %}</a></li> 
		<li class="{% if current == 'settings' %}active{% endif %}"><a href="/settings/"><i class="flaticon-settings"></i> {% trans 'Your Settings' %}</a></li> 
		<li role="presentation" class="divider"></li> 
		<li><a href="/logout/"><i class="flaticon-logout"></i> {% trans 'Logout' %}</a></li> 
	      </ul> 
	    </li> 
	    {% else %}
	    <li class="dropdown">	
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="you">
		<i class="flaticon-profile"></i>
		&nbsp;
		{% trans 'You' %}
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li class="{% if current == 'login' %}active{% endif %}"><a href="/login/"><span class="hidden-sm"> &nbsp; <i class="flaticon-perfectlock"></i> {% trans 'Login' %}</span></a></li>
		<li class="{% if current == 'signup' %}active{% endif %}"><a href="/signup/"><i class="flaticon-profile"></i><span class="hidden-sm"> &nbsp; {% trans 'Sign Up' %}</span></a></li>
	      </ul>
	    </li>
	    {% endif %}
	    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<i class="flaticon-more"></i>
	      </a>
	      <ul class="dropdown-menu" role="menu">
		<li class="{% if current == 'donate' %}active{% endif %}"><a href="/donate/"><span class="text-danger"><i class="flaticon-heart"></i></span> {% trans 'Donate' %}</a></li>
		<li class="{% if current == 'about' %}active{% endif %}"><a href="/about/"><i class="flaticon-about"></i> {% trans 'About' %}</a></li>
{#		<!-- <li><a href="#developersModal" data-toggle="ajaxmodal"><i class="flaticon-developer"></i> {% trans 'Developers' %}</a></li> --> #}
{#		<!-- <li role="presentation" class="divider"></li> #}
{#		<li role="presentation" class="dropdown-header">{% trans 'Switch language:' %}</li> #}
{#		{% for lang in LANGUAGES %} #}
{#		<li{% if LANGUAGE_CODE == lang.0 %} class="disabled"{% endif %}> #}
{#		  <a href="#" class="switchLanguage" data-lang="{{ lang.0 }}"> #}
{#		    {% if LANGUAGE_CODE == lang.0 %}<div class="pull-right"><i class="flaticon-checked"></i></div>{% endif %} #}
{#		    {{ lang.1 }} #}
{#		  </a> #}
{#		</li> #}
{#		{% endfor %} #}
{#		<form action="/i18n/setlang/" method="post" class="hidden" id="switchLanguage"> #}
{#		  {% csrf_token %} #}
{#		  <input name="next" type="hidden" value="{{ current_url }}" /> #}
{#		  <select name="language"> #}
{#		    {% for lang in LANGUAGES %} #}
{#		    <option value="{{ lang.0 }}">{{ lang.1 }}</option> #}
{#		    {% endfor %} #}
{#		  </select> #}
{#		</form> #}
{#	      </ul> #}
{#	    </li> --> #}
	  </ul>
      </div>
    </nav>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Modal -->
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
	<div class="modal-content">
	</div>
      </div>
    </div>

    <!-- CuteForm Modal -->
    <div class="modal fade" id="cuteform-modal">
      <div class="modal-dialog modal-lg text-center">
	<div class="modal-content">
	  <div class="modal-body"></div>
	</div>
      </div>
    </div>

    <!-- Free Modal -->
    <div class="modal fade" id="freeModal">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title"></h4>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <button type="button" class="btn" data-dismiss="modal">{% trans 'Go' %}</button>
	  </div>
	</div>
      </div>
    </div>

    <script>
    var disqus_config = function () {
    this.language = "{{ LANGUAGE_CODE }}";
    };
    </script>

    <script src="/static/bower/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block js %}{% endblock %}

    <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-67529921-1', 'auto');
	ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      var disqus_shortname = 'frgl';
      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
  </body>
</html>
