{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Card' %}: {{ card }}{% endblock %}
{% block js %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="/static/js/cards.js"></script>
{% endblock %}

{% block content %}
{% load tools %}
<div class="container">
  {% if card.type == 'unlock' or card.type == 'stageup' %}
  <div class="padding50">
    {% include 'single.html' %}
  </div>
  {% else %}
  {% include 'cardElement.html' %}
  {% endif %}
  {% include 'singleCardBottom.html' %}
  <br><br>
  {% include 'include/disqus.html' with disqus_identifier='card-'|addint:card.id %}
</div>
{% endblock %}
