{% load i18n %}
{% load tools %}
{% if cards|length == 0 %}
{% if show_no_result %}
<div class="padding50">
  <h4 class="padding50 alert alert-info">
    {% trans 'No result.' %}
  </h4>
</div>
{% endif %}
{% else %}
<div class="row">
  {% for card in cards %}
  {% if forloop.counter0|mod:perline %}
</div><div class="row">
  {% endif%}
  <div class="col-lg-{{ colsize }}">
    {% include 'cardElement.html' %}
  </div>
  {% endfor %}
</div>
{% if not stages %}
{% include 'include/pagination.html' %}
{% endif %}
{% endif %}
