{% load i18n %}
{% load tools %}
{% load choices %}
{% load pagination %}
{% if cards|length == 0 %}
{% if not ajax %}
<div class="padding50">
  <h4 class="padding50 alert alert-info">
    {% trans 'No result.' %}
  </h4>
</div>
{% endif %}
{% else %}
<div class="row">
  {% for card in cards %}
  {% if forloop.counter0|mod:perline %}
</div><div class="row">
  {% endif%}
  <div class="col-md-{{ colsize }}">
    {% include 'cardElement.html' %}
  </div>
  {% endfor %}
</div>
{% if not stages %}
{% if total_results > page_size %}
<div id="load_more" class="padding20 text-center" data-next-page="{{ page|add:1 }}">
  <nav>
    <ul class="pagination pagination-sm">
      <li class="{% if page == 1 %}disabled{% endif %}"><a href="{{ current_url|previouspage:page }}">&laquo;</a></li>
      {% for i in total_pages|times %}
      <li class="{% if page == i|add:1 %}active{% endif %}"><a href="{{ current_url|nextpage:i }}">{{ i|add:1 }}</a></li>
      {% endfor %}
      <li class="{% if page == total_pages %}disabled{% endif %}"><a href="{{ current_url|nextpage:page }}">&raquo;</a></li>
    </ul>
  </nav>
</div>
{% endif %}
{% endif %}
{% endif %}
